<main class="d-flex flex-column align-items-center">
  <h1>Profile</h1>
  <section class="profile-container d-flex flex-column">
    <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="">
    <div class="d-flex justify-content-center">
      <div class="names">
        <div>FullName:</div>
        <div>Username:</div>
        <div>Email:</div>
        <div>Website:</div>
        <div>Company:</div>
        <div>Address:</div>
        <div>Phone:</div>
      </div>
      <div>
        <div>{{user?.name}}</div>
        <div>{{user?.username}}</div>
        <div>{{user?.email}}</div>
        <div>{{user?.website}}</div>
        <div>{{user?.company?.name}}</div>
        <div>{{user?.address?.city}} - {{user?.address?.street}}</div>
        <div>{{user?.phone}}</div>
      </div>
    </div>
    <button type="button" [routerLink]="['/profile/posts', user?.id]" class="btn btn-success">{{user?.name}}'s posts</button>
  </section>
</main>